body {
    padding: 0;
    margin: 0;
    background-color: #e8e3e3;
    color: #333;
    height: 100%;
}

/* Global */
p {
    font-size: 18px;
}

.content-header {
    text-align: center;
    font-size: 28px;
    margin: auto;
    padding-top: 15px;
}

/* About */
#about h1 {
    width: 17%;
}

/* Mission */
#mission h1 {
    width: 19%;
}

/* Footer */
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    clear: both;
}