body {
  font: 15px/1.5 Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  background-color: #f9f2f4;
  overflow-y: scroll;
}

/* Global */
.container {
  width: 60%;
  margin: auto;
  overflow: hidden;
}

.link {
  text-decoration: none;
}

.underline {
  border-bottom: 1px #ff4000 solid;
}

.overline {
  border-top: 1px #ff4000 solid;
}

.button_1 {
  height: 38px;
  background: #ff4000;
  border: 0;
  padding: 0 20px;
  color: #ffffff;
}

.button_1:hover {
  color: #333333;
  cursor: pointer;
}

/* Header */
header {
  background: #333;
  color: #ffffff;
  padding-top: 15px;
  min-height: 70px;
}

header a {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 18px;
}

header ul {
  margin: 0;
  padding: 0;
}

header li {
  display: inline;
  padding: 0 20px 0 20px;
}

header li a:link,
header li a:visited,
header li a:active {
  color: #ffffff;
}

header li a:hover {
  color: #ff4000;
}

header #branding {
  margin: auto;
  padding: 5px;
  float: left;
}

header #branding img {
  margin: auto;
  display: block;
  width: 40%;
}

header #branding h1 {
  margin: auto;
  font-size: 24px;
  display: inline;
}

header nav {
  padding-top: 20px;
  float: right;
  font-size: 24px;
}

/* Showcase */
#showcase {
  background-image: linear-gradient(rgba(100, 100, 100, 0.75),
    rgba(100, 100, 100, 0.75)),
    url("../images/hero.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: 100% auto;
  text-align: center;
}

#showcase {
  padding: 15em 0 15em 0;
}

#showcase h1 {
  width: 50%;
  font-size: 40px;
  color: #ffffff;
  margin: auto;
  padding-bottom: 0.75em;
}

#showcase p {
  width: 50%;
  margin: auto;
  padding: 1em;
  font-size: 25px;
  color: white;
}

/* Specials */
#specials {
  padding: 1em 0 1em 0;
  background-color: #e8e3e3;
  color: #333;
}

#specials #seasonal {
  margin: auto;
  width: 40%;
  float: left;
  padding: 7em 1.5em 0 1.5em;
  text-align: center;
}

#specials #seasonal h1 {
  width: 70%;
  margin: auto;
}

#specials #seasonal h1 a,
#specials #seasonal h1 a:link,
#specials #seasonal h1 a:visited,
#specials #seasonal h1 a:active {
  font-size: 30px;
  color: #333;
  padding-bottom: 7px;
}

#specials #seasonal h1 a:hover {
  color: #ff4000;
}

#specials #seasonal p {
  font-size: 18px;
}

#specials img {
  width: 50%;
  margin: auto;
  display: block;
  float: right;
  padding: 1em;
}

/* Menu */
#menu {
  padding-bottom: 2em;
  color: #333;
}

#menu h1 {
  width: 30%;
  text-align: center;
  margin: 1em auto;
}

#menu h1 a,
#menu h1 a:link,
#menu h1 a:visited,
#menu h1 a:active {
  color: #333;
  font-size: 30px;
  padding-bottom: 7px;
}

#menu h1 a:hover {
  color: #ff4000;
}

#menu h3 a,
#menu h3 a:link,
#menu h3 a:visited,
#menu h3 a:active {
  color: #333;
  font-size: 20px;
}

#menu h3 a:hover {
  color: #ff4000;
}

#menu .boxes {
  margin-top: 10px;
}

#menu .boxes .box {
  float: left;
  text-align: center;
  width: 32%;
  margin-left: 1%;
  border: 1px #333 solid;
}

/* Newsletter */
#newsletter {
  background-color: #e8e3e3;
  padding: 15px;
  color: #333;
}

#newsletter h1 {
  float: left;
  font-size: 25px;
}

#newsletter form {
  float: right;
  margin-top: 15px;
}

#newsletter input[type="email"] {
  padding: 5px;
  height: 25px;
  width: 250px;
}

/* Application */
#apply {
  text-align: center;
  color: #333;
  padding: 15px;
}

#apply h1 {
  font-size: 25px;
}

#apply p {
  width: 40%;
  margin: auto;
  padding-top: 15px;
  font-size: 16px;
}

#apply h3 a,
#apply h3 a:link,
#apply h3 a:visited,
#apply h3 a:active {
  font-size: 20px;
  color: #ffffff;
  background-color: #ff4000;
  padding: 10px;
}

#apply h3 a:hover {
  color: #333;
}

/* Footer */
footer {
  background: #333;
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  height: 75px;
}