<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Welcome page" />
    <meta name="keywords" content="coffee, latte, lattes, hot coffe, iced coffee, cafe, space" />
    <meta name="author" content="Brock Herion" />
    <title>Apply | Astro Coffee</title>
    <link rel="stylesheet" type="text/css" href="../../stylesheets/coffee.css" />
    <link rel="stylesheet" type="text/css" href="./apply.css" />
</head>

<body>
    <!-- Header Section -->
    <header class="underline">
        <div class="container">
            <div id="branding">
                <a href="../../index.html" class="link">
                    <div>
                        <img src="../../images/logo.png" alt="Astro Coffee Logo" width="65" height="65" />
                        <h1>Astro Coffee</h1>
                    </div>
                </a>
            </div>
            <nav>
                <ul>
                    <li>
                        <a href="../menu/coffee/coffee.html" class="link">Coffee</a>
                    </li>
                    <li><a href="../menu/tea/tea.html" class="link">Tea</a></li>
                    <li><a href="../menu/food/food.html" class="link">Food</a></li>
                    <li>
                        <a href="../menu/about/about.html" class="link">About</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    <!-- Application Section -->
    <section id="apply">
        <div class="container">
            <div id="content">
                <h1 class="underline">Apply for our Team</h1>
                <p>Wanna be apart of a fun, unique work culture? Then you've come to the right spot!</p>
                <p>Simply fill out the form below, tell us a little bit about yourself, and we'll be sure to get back
                    to
                    you!</p>
                <form>
                    <fieldset id="personal">
                        <legend>Personal Information</legend>
                        First Name:<br>
                        <input type="text" name="firstname"><br>
                        Last Name:<br>
                        <input type="text" name="lastname"><br>
                        Birth Date:<br>
                        <input type="date" name="bday"><br>
                    </fieldset>
                    <fieldset id="address">
                        <legend>Address</legend>
                        Address Line One:<br>
                        <input type="text" name="address1"><br>
                        Address Line Two:<br>
                        <input type="text" name="address2"><br>
                        City:<br>
                        <input type="text" name="city"><br>
                        State:<br>
                        <input type="text" name="state"><br>
                        Zip Code:<br>
                        <input type="text" name="zip"><br>
                    </fieldset>
                    <fieldset id="additional">
                        <legend>Additional Information</legend>
                        Why do you want to work for Astro Coffee?<br>
                        <input type="text" name="question1"><br>
                        Have you had any prior work experience? If yes, explain your role.<br>
                        <input type="text" name="question2"><br>
                        Any other thing you would like us to know?<br>
                        <input type="text" name="question3"><br>
                    </fieldset>
                </form>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer class="overline">
        <div class="container">
            <p>Astro Coffee, Copyright &copy; 2018</p>
        </div>
    </footer>
</body>

</html>